.pop .pop-content.fat-content {
    min-width: 500px;
    top:30%;
    .check {
        width: 470px;
    }
    .check-mark {
        left: 200px;
    }
}
@media screen and (max-width: 480px) {
    
}