<div class="pop active pop-inner" style="display:block;_footer.html.erb">
	<div class="pop-content">
		<div class="mk-spinner-doublecircle"></div>
		<span class="loading-words">Loading ...</span>
	</div>
</div>