// oocss
// 
// gap setting
.maB1x 
	margin-bottom: $gap
.maB2x 
	margin-bottom: $gap*2
.maT3x
	margin-top: $gap*3
.maT2x
	margin-top: $gap*2
.maT1x
	margin-top: $gap
.maL-1x
	margin-left: -$gap
.lh2x
	line-height: $font-lg
.pdL2x
	padding-left: $gap*2 
.pdR1x
	padding-right: $gap 
.pdT2x
	padding-top: $gap*2 
.pdLHalfX
	padding-left: $gap/2
.pdT1x
	padding-top: $gap
.pdLR1x
	padding: 0 $gap

// btn style
.btn
	display: block
	background-color: $gray
	color: $white
	cursor: pointer
	text-align: center
	text-decoration: none
	padding: 10px 0
	border-radius: 35px
	font-size: $font-xl
	+transf(.3s ,"opacity")
	&:hover,&:focus,&:active
		opacity: .85
		color: $white
		text-decoration: none
	&.btn-orange
		background-color: #F49A44
	&.btn-green
		background: $lg-bg
	&.btn-mail
		




//font size setting
.font-sm
	font-size: $font-sm
.font-md
	font-size: $font-md
.font-lg
	font-size: $font-lg
.font-xl
	font-size: $font-xl
.font-xxl
	font-size: $font-xxl
.font-2xl
	font-size: $font-2xl

//font color setting
.navy
	color: $navy
.dk-green
	color: $dk-green

.text-orange
	color: $subC-o
	&:hover
		color: #C76D05

.text-black
	color: #000
.text-green
	color: $mainC

	