<div class="container">
    <div class="banner row">
        <div class="banner-page-name">
            <h2 class="dk-green">常見問與答</h2>
            <p class="dk-green">Frequently Asked Questions</p>
        </div>
        <img src="./assets/images/banner/banner_pic_faq.png" alt="">
    </div>
    <div class="row" *ngIf="faqReply">
        <div class="col-md-4 page-block maB2x">
            <div class="article-content">
                <p class="article-lable require">陳情內容</p>
                <p class="navy maB2x">{{faqReply.IssueContent}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="article-lable require">回覆單位 </p>
                        <p class="navy maB2x pdLHalfX">{{faqReply.ReplyOrganName}}</p>
                        <p class="article-lable require">張貼日期</p>
                        <p class="navy maB2x pdLHalfX">{{faqReply.PostDate}}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="article-lable require">問題類別</p>
                        <p class="navy maB2x pdLHalfX">{{faqReply.IssueKind}}</p>
                        <p class="article-lable require">修改日期</p>
                        <p class="navy maB2x pdLHalfX">{{faqReply.ReviseDate}}</p>
                    </div>
                    <div class="col-md-12">
                        <p class="article-lable require">人氣指數</p>
                        <p class="navy maB2x pdLHalfX">{{faqReply.ViewCount}}</p>
                    </div>
                </div>
                <a class="btn btn-green hidden-xs hidden-sm" [routerLink]="['/faq']">回到常見問題集</a>
            </div>
        </div>
        <div class="col-md-8 page-block">
            <div class="article-content block-separate">
                <p class="article-lable require">處理情形(答覆內容)</p>
                <p class="navy maB2x">{{faqReply.ReplyContent}}</p>
            </div>
        </div>
    </div>
</div>
