.page {
    display: inline-block;
    padding-left: 0; 
    list-style: none;
    clear: both;
    li {
        float: left;
        font-size: 1.125em;
        padding: .5em .8em;
        margin-right: 1px;
        border: 1px solid transparent;
        background: rgba(128,203,196,.8);
        a {
            color: white;
        }
    }
    .page-alpha {
        position: relative;
        opacity: 0;
        width: 34.69px;
        height: 39.75px;
        a {
            cursor: initial;
        }
        &:before {
            content: "0"
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
        }
    }
    .page-first,
    .page-final {
        margin: 0 .5em;
        border: rgba(128,203,196,1) 1px solid;
        background: white;
        color: rgba(84,162,178,1);
        a {
            color:rgba(128,203,196,1);
        }
        
    }
}