<div class="container">
    <div class="banner row">
        <div class="banner-page-name">
            <h2 class="dk-green">服務流程</h2>
            <p class="dk-green">Service Process</p>
        </div>
        <img src="./assets/images/banner/banner_pic_process.png" alt="">
    </div>
    <div class="row">
        <div class="col-md-4 page-block maB2x">

            <img src="./assets/images/process/process.png" width="100%" alt="">
        </div>
        <div class="col-md-8 page-block">

            <div class="article-content block-separate">
                <p class="article-lable">線上即時服務系統作業方式</p>

                <ol class="navy maB2x maL-1x">
                    <li>請您於投書時提供正確之E-MAIL帳號、電話、姓名，俾系統自動回覆您信件收件編號及回覆內容亦將以E-MAIL的方式傳送給您。</li>
                    <li>查詢回覆內容時，請您透過系統自動提供之收件編號及姓名（或e-mail），於「即時服務案件查詢」選擇鍵中進行查閱。</li>
                    <li>案件之處理依「行政院暨所屬各機關處理人民陳情案件要點」辦理，當您收到相關單位的處理結果後，還可經由滿意度問卷調查填寫對該項回函處理的滿意程度，歡迎您多加利用。</li>
                </ol>
                <p class="article-lable">未確認函之處理</p>
                <p class="navy maB2x">
                    本府為避免所處理的信件無法傳送當事人，甚或信箱遭冒用之情形，將會在受理分案後回傳收件編號後分派至相關機關處理，若您一直無法收到收件編號函，可能是您填寫的電子信箱有誤，建議您重新檢視並再次傳送。
                </p>
                <p class="article-lable">流程圖說明</p>
                <p class="navy maB2x">
                    步驟一、陳情民眾於市長信箱系統填入正確資料後等待確認郵件。<br>
                    步驟二、點選確認郵件後，會依照項目別分別採取自動分案或人工線上分案，分案給承辦單位。<br>
                    步驟三、承辦單位於處理後，系統將寄出處理情形通知陳情民眾，若因時效內無法完成，亦會寄出展期信件通知陳情民眾。<br>
                </p>
            </div>
        </div>
    </div>
</div>
