<div class="container">
  <div class="banner row">
    <div class="banner-page-name">
      <h2 class="dk-green">著作權聲明</h2>
      <p class="dk-green">Copyright Notice</p>
    </div>
    <img src="./assets/images/banner/banner_pic_process.png" alt="">
  </div>
  <div class="row">
    <div class="col-md-4 page-block maB2x">
      <div class="article-header text-center">
          <h4 class="article-title">著作權聲明</h4>
      </div>
      <div class="article-content">
        <p clas="navy">

        </p>
      </div>
    </div>
    <div class="col-md-8 page-block">

      <div class="article-content block-separate">
        <p class="article-lable">著作權聲明</p>
        <p class="navy maB2x">
          由於網際網路資料的傳輸不能保證百分之百的安全，本網站 努力保護網友的個人資料安全。由於資料傳輸過程牽涉您上網環境保全之良窳，並無法確信或保證網友傳送或接收本網站資料的安全，網友須注意並承擔網路資料傳 輸之風險。 <br>
          網友基於個人意願在網站透露的各種個人資料，例如在熱門話題討論區公佈個人資料如電子郵件、姓名等，可能會被他人收集和使用，如果您擔心這些困擾，您可以 不用輸入這些資料。如果您在網路上公佈可被他人讀取的個人資料時，可能會收到其他團體主動提供的廣告或垃圾郵件。請您諒解此部份所造成的後果均非本網站所 能控制範圍，也無法負擔任何責任。
        </p>
        <p class="navy maB2x">
          一、	高雄市政府網站上所刊載之所有內容，除著作權法規定不得為著作權之標的（如法律、命令、公務員 撰擬之講稿、新聞稿等...請參考著作權法第９條規定）外，其他包括文字敘述、攝影、圖片、錄音、影像及其他資訊，均受著作權法保護。<br>
二、	上述不得為著作權標的者，任何人均得自由利用，歡迎各界廣為利用。<br>
三、	本網站資訊內容受著作權法保護者，除有合理使用情形外，應取得該著作財產權人同意或授權後，方得利用。<br>
四、	上述“合理使用情形”，說明如下：<br>
 	<br>
*	本網站上所刊載以高雄市政府暨所屬機關學校名義公開發表之著作，即著作人為高雄市 政府暨所屬機關學校者，在合理範圍內，得重製、公開播送或公開傳輸，利用時，並請註明出處。<br>
*	本網站之資訊，可為個人或家庭非營利之目的而重製。<br>
*	為報導、評論、教學、研究或其他正當目的，在合理範圍內，得引用本網站上之資訊，引用時，並請註明出處。<br>
*	其他合理使用情形，請參考著作權法第四十四條至第六十五條之規定。<br>
        </p>
        <p class="article-lable">著作權聲明諮詢</p>
        <p class="navy maB2x">
          如果您對於本網站的隱私權保護政策或是有個人資料收集、運用、更新等問題， 歡迎來信至意見信箱：
          <a href="mailto:kcgrdec@kcg.gov.tw">kcgrdec@kcg.gov.tw</a>。
        </p>
      </div>
    </div>
  </div>
</div>
