
<div class="deco-line maB2x"></div>
<div class="row maB2x">
	<div class="col-md-7 col-sm-6 col-xs-12">
		<div style="width:100%;height:320px;border:#ccc solid 1px;" id="dituContent"></div>
	</div>
	<div class="col-md-5 col-sm-6 col-xs-12">
		<h2>客戶服務</h2>
		<p class="contact-info">
			广西金秀松源林产有限公司 <br> 
			广西金秀县桐木镇象桐路（工业集中区） <br>
			桂ICP备13007186号-1<br>
			FAX：0772－6181693 <br>
		</p>
		<a class="btn-style contact-phone" href="tel:+867726183858 ">
			<i class="glyphicon glyphicon-earphone"></i>  0772－6183858 
		</a>
	</div>
</div>