
    <div class="row">
        <div class="col-md-3 pdLR1x maT1x">
            <a class="btn btn-green" href=""><i class="fa fa-search"></i> 全文檢索</a>
        </div>
        <div class="col-md-12 maT1x">
                <div class="search active">
                    <form action="" class="">
                        <div class="search-lable combine-icon combine-before maT1x">
                            <div class="border-bottom">
                                <i class="fa fa-search"></i>
                                <input type="text" placeholder="搜尋關鍵字">
                            </div>
                        </div>
                        <div class="search-lable combine-icon combine-after">
                            <div class="border-bottom">
                                <input type="text" value="請選擇處理單位">
                                <select name="" id="">
                                    <option value="">請選擇處理單位</option>
                                    <option value="研究發展考核委員會">研究發展考核委員會</option>
                                    <option value="研究發展考核委員會">研究發展考核委員會</option>
                                    <option value="研究發展考核委員會">研究發展考核委員會</option>
                                    <option value="研究發展考核委員會">研究發展考核委員會</option>
                                </select>
                                <i class="fa fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="search-lable text-right">
                            <button class="search-btn">查詢</button>
                        </div>
                    </form>
                </div>
            <div class="article-content">
                <div class="faq row">
                    <div class="faq-head col-md-12 hidden-xs hidden-sm">
                        <div class="col-md-7">陳情內容</div>
                        <div class="col-md-2">單位</div>
                        <div class="col-md-1">人氣</div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="faq-item col-md-12" ng-repeat="item in [1,2,3,4,5]">
                        <div class="col-md-7 navy"><a href="##">0~2歲保母托育費用補助 (2歲以下幼童)</a> <span class="faq-open pull-right hidden-md hidden-lg"><i class="fa fa-plus"></i></span></div>
                        <div class="col-md-2 text-black">研究發展考核委員會</div>
                        <div class="col-md-1 text-black">9666</div>
                        <div class="col-md-2 text-right"><a class="text-orange" href="">詳細陳情內容 <i class="fa fa-angle-double-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
