
<div class="row">
	<div class="col-md-4 page-block">
		<div class="article-header text-center">
			<h4 id="mayor" class="article-title">建議(檢舉)內容</h4>
		</div>
		<div class="article-content">
			<p class="article-lable require">主旨 </p>
			<p class="navy maB2x">高雄市岡山區碧紅街2號違建</p>
			<p class="article-lable require">建議事項 </p>
			<p class="navy maB2x">
				高雄市岡山區碧紅街2號 已於2014.12.22檢舉該棟違建，也獲得市府回應已拆除違建部分，為何該違建卻越來越高?由2樓層的違建變成了5層樓的違建?不知市長對此拆除績效有何看法?
			</p>
			<div class="row">
				<div class="col-md-6">
					<p class="article-lable require">收件編號 </p>
					<p class="navy maB2x pdLHalfX">368213</p>
					<p class="article-lable require">來源別 </p>
					<p class="navy maB2x pdLHalfX">網頁</p>
				</div>
				<div class="col-md-6">
					<p class="article-lable require">收件編號 </p>
					<p class="navy maB2x pdLHalfX">368213</p>
					<p class="article-lable require">機密等級 </p>
					<p class="navy maB2x pdLHalfX">保密</p>
				</div>
			</div>
			<p class="article-lable require">附加檔案 </p>
			<p class="navy maB2x pdLHalfX">
				<a href="2014_1222.jpg"><i class="fa fa-paperclip"></i> 2014_1222.jpg</a><br>
				<a href="2014_1222.jpg"><i class="fa fa-paperclip"></i> 2014_1222.jpg</a>
			</p>
			<a class="btn btn-green" href="">繼續查詢陳報案件</a>
		</div>
	</div>
	<div class="col-md-8 page-block">
		<div class="article-header text-center">
			<h4 id="mayor" class="article-title">處理情形</h4>
		</div>
		<div class="article-content block-separate">
			<div class="row">
				<div class="col-md-6">
					<p class="article-lable require">陳情類別(主項) </p>
					<p class="navy maB2x pdLHalfX">違章建管業務</p>
					<p class="article-lable require">承辦機關</p>
					<p class="navy maB2x pdLHalfX">高雄市政府工務局違章建築處理大隊</p>
					<p class="article-lable require">序號</p>
					<p class="navy maB2x pdLHalfX">01</p>
					<p class="article-lable require">承辦人</p>
					<p class="navy maB2x pdLHalfX">王祈昌</p>
				</div>
				<div class="col-md-6">
					<p class="article-lable require">陳情類別(子項) </p>
					<p class="navy maB2x pdLHalfX">ㄧ般違建</p>
					<p class="article-lable require">科室</p>
					<p class="navy maB2x pdLHalfX">拆除組</p>
					<p class="article-lable require">完成日期 </p>
					<p class="navy maB2x pdLHalfX">20150407</p>
					<p class="article-lable require">承辦人電話</p>
					<p class="navy maB2x pdLHalfX">7453439-808</p>
				</div>
			</div>
			<p class="article-lable require">陳情類別(子項) </p>
			<p class="navy maB2x">親愛的市民您好：您寄給市長的電子郵件收悉，市長非常重視，經交本大隊處理，茲將查處結果敬復如下：有關台端反映本市岡山區碧紅街2號建築物屋前增建違建一案，本局業於103年11月28日以高市工違岡字第1576號處理新違章建築處分書依法處分在案，並已於103年12月2日派工前往拆除部份，其餘部份，將續依相關規定辦理。謝謝您的建議，若尚有疑慮，請隨時電洽本府工務局違建處理大隊承辦人王祈昌電話(07)7453439-808，當再詳細說明，再次感謝您對市政的關心並熱心提供建言。<br> 
			敬祝您 <br>
			身體健康萬事如意<br> 
			高雄市政府工務局違章建築處理大隊大隊長蘇俊傑敬上 <br></p>
		</div>
		<hr>
		<div class="row">
				<div class="col-md-6">
					<p class="article-lable require">陳情類別(主項) </p>
					<p class="navy maB2x pdLHalfX">違章建管業務</p>
					<p class="article-lable require">承辦機關</p>
					<p class="navy maB2x pdLHalfX">高雄市政府工務局違章建築處理大隊</p>
					<p class="article-lable require">序號</p>
					<p class="navy maB2x pdLHalfX">02</p>
					<p class="article-lable require">承辦人</p>
					<p class="navy maB2x pdLHalfX">王祈昌</p>
				</div>
				<div class="col-md-6">
					<p class="article-lable require">陳情類別(子項) </p>
					<p class="navy maB2x pdLHalfX">ㄧ般違建</p>
					<p class="article-lable require">科室</p>
					<p class="navy maB2x pdLHalfX">拆除組</p>
					<p class="article-lable require">完成日期 </p>
					<p class="navy maB2x pdLHalfX">20150414</p>
					<p class="article-lable require">承辦人電話</p>
					<p class="navy maB2x pdLHalfX">7453439-808</p>
				</div>
			</div>
			<p class="article-lable require">陳情類別(子項) </p>
			<p class="navy maB2x">親愛的市民您好：您寄給市長的電子郵件收悉，市長非常重視，經交本大隊處理，茲將查處結果敬復如下：有關台端反映本市岡山區碧紅街2號建築物屋前增建違建一案，本局業於103年11月28日以高市工違岡字第1576號處理新違章建築處分書依法處分在案，並已於103年12月2日派工前往拆除部份，其餘部份，後續於104年4月1日派工前往拆除RC樓板，尚未拆除部份，依相關規定辦理。謝謝您的建議，若尚有疑慮，請隨時電洽本府工務局違建處理大隊承辦人王祈昌電話(07)7453439-808，當再詳細說明，再次感謝您對市政的關心並熱心提供建言。 <br> 
			敬祝您 <br>
			身體健康萬事如意<br> 
			高雄市政府工務局違章建築處理大隊大隊長蘇俊傑敬上 <br></p>
		</div>
	</div>
</div>