<div class="container">
  <div class="banner row">
    <div class="banner-page-name">
      <h2 class="dk-green">網站安全政策</h2>
      <p class="dk-green">Security Policy</p>
    </div>
    <img src="./assets/images/banner/banner_pic_process.png" alt="">
  </div>
  <div class="row">
    <div class="col-md-4 page-block maB2x">


    </div>
    <div class="col-md-8 page-block">

      <div class="article-content block-separate">
        <p class="article-lable">隱私權暨資訊安 全保護政策修訂</p>

        <p class="navy maB2x">
          本網站會不定時修訂本項政策，以符合最新之隱私權保護規範。當在使用個 人資料的規定做較大幅度修改時，會在網頁上張貼告示，通知您相關事項。
        </p>
        <p class="article-lable">隱私權暨資訊安全保護政策諮詢</p>
        <p class="navy maB2x">
          如果您對於本網站的隱私權保護政策或是有個人資料收集、運用、更新等問題， 歡迎來信至意見信箱：
          <a href="mailto:kcgrdec@kcg.gov.tw">kcgrdec@kcg.gov.tw</a>。
        </p>
      </div>
    </div>
  </div>
</div>
