.chart-set {
    width: 100%;
    font-size: 1.125em;
    clear: both;
}
.chart-title {
    position: relative;
    float: left;
    width: 32%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 3% 5px 0;
    text-align: right;
}
    .chart-title:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: #999;
        right: 0;
        top: 0px;
    }
.chart-line {
    width: 65%;
    height: 1.25em;
    float: left;
    overflow: hidden;
    background: #f9f9f9;
    border-radius: 0 3px 3px 0;
    margin: .3em 0;
}
.chart-range {
    float: left;
    width: 0;
    height: 100%;
    background:rgba(84,162,178,1);
    transition: width .5s;
    transition-delay: 1s;
}
.chart-num {
    float: right;
    font-size: 0.8em;
    line-height: 1.55em;
    padding-right: 5px;
}
.chart-info {
    list-style: none;
}
.chart-info li {
    display: inline-block;
    padding: .3em; 
}
.chart-info span {
    display: inline-block;
    width: .75em;
    height: .75em;
    margin-right: .3em;

}
.bg-green-darken {
    background: #3C8F87;
}
.bg-green-lighten {
    background: #4DB6AC;
}
.bg-green {
    background: #80CBC4;
}
.bg-orange-lighten {
    background: #F49A44;
}
.bg-orange-darken {
    background: #EA7C13;
}
.bg-orange-darken-2 {
    background: #C66B01;
}
.btn-reset {
    margin-top: 45px;
}

@media screen and (min-width: 480px){
    .chart-title {
        max-width: 120px;
    }
}
@media screen and (max-width: 768px){
.btn-reset {
        width: 100% !important;
        margin-top: 15px;
    }
}