html 
	// overflow-y: hidden
body
	background-color: $white//#3C4512
	font-family: Helvetica, arial,'Heiti TC','Microsoft JhengHei UI', "Kozuka Gothic Pro", "Myriad Pro"
	overflow-x: hidden

a
	color: $navy
	&:hover,&:focus
		color: #4075AA
		text-decoration: none

.header
	position: relative
	z-index: $idx_normal
	display: -webkit-flex
	display: flex

	@media screen and (max-width: 480px)
		display: block
		padding: 0
		width: 100%
		position: fixed
		z-index: $idx_hest



.header-band
	background: #fff
	padding: 0 23px
	margin: 0
	width: 257px
	font-size: 16px

	@media screen and (max-width: 480px)
		padding: 5px 5px
		width: 100vw
		background-image: $lg-bg
	p
		display: inline-block
		font-size: $font-lg
		margin-right: 15px
		margin-top: 7px
		@media screen and (max-width: 480px)
			font-size: $font-md
			margin-bottom: 7px
			& > .navy
				color: $white
	img
		vertical-align: top
		@media screen and (max-width: 480px)
			background: rgba(255,255,255,.6)
			border: 1px solid $white
			border-radius: 50%
			width: 34px
			height: 34px
			padding: 5px 7px
			vertical-align: inherit 

.header-right
	-webkit-flex: 1
	flex: 1

.heade-news
	position: absolute
	top: 62px
	right: 0
	width: 475px
	padding: 12px 20px
	background-color: rgba(255,255,255,.7)
	&:after
		content: ""
		position: absolute
		top: -5px
		right: 53px
		width: 0
		height: 0
		border-style: solid
		border-width: 0 3.5px 5px 3.5px
		border-color: transparent transparent rgba(255,255,255,.7) transparent

	a
		display: inline-block
		overflow: hidden
		width: 400px
		white-space: nowrap
		text-overflow: ellipsis
		vertical-align: middle
	span
		position: absolute
		display: inline-block
		top: 0
		right: 0
		width: 45px
		padding: 15px 0
		text-align: center
		cursor: pointer
	@media screen and (max-width: 480px)
		width: 100%


.wrap
	background-color: $white
	
.body
	position: relative
	z-index: $idx_normal
	width: 100%
	background-color: $white


.header-menu
	position: relative
	font-size: $font-lg
	list-style: none
	margin-bottom: 0
	padding-left: 0
	background: $lg-bg
	@media screen and (max-width: 736px)
		padding-left: 0
		margin-top: $gap
		opacity: 0
		width: 70vw
		+transf(.2s)
		&.active
			opacity: 1
	.menu-item
		position: relative
		display: inline-block
		margin-left: 30px
		padding-top: 18px
		height: 55px
		text-align: center
		cursor: pointer
		@media screen and (max-width: 736px)
			display: block
			text-align: left
			border-bottom: 1px dotted $subC-g
			height: auto
		& > a
			color: $white
			text-decoration: none
		&:before
			content: ""
			position: absolute
			display: inline-block
			background-color: transparent
			height: 3px
			top: 0
			width: 0%
			left: 50%
			+transf(.3s, width)
			@media screen and (max-width: 736px)
				display: none
				
		&:hover:before,&.active:before
			width: 100%
			left: 0
			top: -3px
			background-color: $white
		@media screen and (max-width: 736px)
			&.active:after
				content: ""
				position: absolute
				display: inline-block
				background-color: $subC-o
				height: 100%
				top: 0
				width: 4px
				left: 0
			&:first-child:after
				display: none
		.fa
			padding: 5px 10px
			border-radius: 50%
			border: $white 1px solid

.mob-menu
	float: right
	margin: $gap $gap*1.5 0
	background-color: $white
	height: 2px
	width: $gap
	position: relative
	&.index,&.index:after,&.index:before
		background: $white
	&:after,&:before
		content: ""
		height: 2px
		width: $gap
		position: absolute
		background-color: $white
		display: inline-block
		left: 0
		
	&:after
		top: 6px
	&:before
		top: 12px


.article-header
	position: relative
	width: 100%
	padding-bottom: $gap
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 0
		z-index: $idx_normal
		height: 1px
		width: 100%
		background-color: $mainC
	&:before
		content: ""
		box-sizing: content-box
		position: absolute
		top: -30px
		left: -15px
		z-index: $idx_normal
		height: 30px
		width: 100%
		padding: 0 $gap
		background-color: $white

.article-title
	display: inline-block
	position: relative
	z-index: $idx_her
	padding-left: 30px
	padding-right: 30px
	color: $mainC
	background-color: $white

.deco-line
	position: relative
	height: 3px
	display: block
	&:after,&:before
		content: ""
		display: inline-block
		position: absolute
		top: 0
		height: 3px

	&:before
		width: 70%
		background-color: $subC-g
		left: 0
	&:after
		width: 30%
		background-color: $mainC
		right: 0
	&.rotate-invert
		+rotate(180deg)
	&.index
		z-index: $idx_hest

footer
	background: #F7F7F7
	padding: $gap 0
	color: #797C83
	font-size: $font-sm

.body-content
	padding-bottom: 150px !important

.link-group
	list-style: none
	position: relative
	padding-left: 20px
	margin-top: 20px
	&:after
		content: ""
		position: absolute
		background-color: #EEEEEE
		width: 1px
		height: 100%
		top: 0
		left: 0

	li
		padding: 5px 0
		position: relative
		cursor: pointer
		a
			display: inline-block
			position: relative
		a:hover:after
			position: absolute
			content: ""
			bottom: -2px
			left: 0
			width: 100%
			height: 1px
			background-color: #4DB6AC
	a
		color: #4DB6AC
		
		&:hover,&:focus
			text-decoration: none
.footer
	padding-top: 13px

.footer-img
	background-color: $white
	overflow: hidden
	float: left
	border-radius: 100%
	width: 38px
	height: 38px
	margin-right: 38px

	img
		width: 100%
		height: auto
		padding-top: 3px

.footer-info
	padding-top: 5px
	line-height: 2em

.page-title
	margin: 0
	padding: $gap*2 25px
	@media screen and (max-width: 480px) 
		padding: $gap 25px
.content-gap
	padding: 0 25px


.link
	display: inline-block
	position: relative
	color: #F49A44
	text-decoration: none
	cursor: pointer
	&:hover
		text-decoration: none
		color: #F38933

	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 1px
		background-color: #F49A44
// oocss

.maB1x 
	margin-bottom: $gap
.maB2x 
	margin-bottom: $gap*2
.maT2x
	margin-top: $gap*2
.lh2x
	line-height: $font-lg
.pdL2x
	padding-left: $gap*2 
.pdR1x
	padding-right: $gap 
.pdT2x
	padding-top: $gap*2 
.pdT1x
	padding-top: $gap
.pdLR1x
	padding: 0 $gap
.btn-style
	display: block
	background-color: #F49A44
	color: $white
	cursor: pointer
	+transf(.3s ,"opacity")
	&:hover,&:active
		opacity: .85
		color: $white
		text-decoration: none
.contact-phone
	text-align: center
	text-decoration: none
	width: 100%
	padding: 10px 0
	border-radius: 35px
	font-size: $font-xl


.font-sm
	font-size: $font-sm
.font-md
	font-size: $font-md
.font-lg
	font-size: $font-lg
.font-xl
	font-size: $font-xl
.font-xxl
	font-size: $font-xxl
.font-2xl
	font-size: $font-2xl

.mob-menu-list
	display: none

.navy
	color: $navy


// rwd
@media screen and (min-width: 768px) and (max-width: 1024px)
	.container
		width: 970px
	.banner
		overflow: hidden
		width: 100%
@media screen and (max-width: 768px)
	.container
		width: 100%
	.body-content
		padding-bottom: 40px
@media screen and (max-width: 736px)
	.container
		width: 100%
	.banner
		overflow: hidden
		width: 100%
	.mob-menu-list
		width: 70vw
		height: 100%
		height: 100vh
		position: fixed
		top: 0
		right: 0vw
		overflow: hidden
		background-color: $mainC
		opacity: 0
		display: block
		+transf(.2s,opacity)
		&.active
			opacity: 1


	.wrap
		position: relative
		left: 0vw
		z-index: 2
		webkit-transition: left .3s, -webkit-filter .3s
		-o-transition: left .3s, -webkit-filter .3s
		transition: left .3s, -webkit-filter .3s
		-webkit-transition-timing-function: linear
		transition-timing-function: linear
		&.active
			left: -70vw
			overflow: hidden





