<div class="container" *ngIf="!reply">
  <div class="banner row">
    <div class="banner-page-name">
      <h2 class="dk-green">常見問與答</h2>
      <p class="dk-green">Frequently Asked Questions</p>
    </div>
    <img src="./assets/images/banner/banner_pic_faq.png" alt="">
  </div>
  <div class="row">
    <div class="col-md-3 pdLR1x maT1x">
      <a class="btn btn-green" href="javascript:void(0);" (click)="isSearch=!isSearch"><i class="fa fa-search"></i> 全文檢索</a>
    </div>
    <div class="col-md-12 maT1x">
      <div class="search " [ngClass]="{active:isSearch}">
        <form action="" class="">
          <div class="col-md-5 combine-icon combine-before ">
              <i class="fa fa-search"></i>
              <input class="fall-width" type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" placeholder="搜尋關鍵字">
          </div>
          <div class="col-md-5 combine-icon combine-after">
                <input class="fall-width" type="text" [value]="selectedCategory.text" readonly>
                <select name="" id="" class="input-alpha" (change)="changeCategory($event.target)">
                      <option value="">請選擇處理單位</option>
                      <option *ngFor="let category of categories" [value]="category.kind" >{{category.kind_name}}</option>
                  </select>
                <i class="fa fa-chevron-down"></i>
          </div>
          <div class="col-md-2 maT1x">
              <button class="search-btn" (click)="search()">查詢</button>
          </div>
          <div class="clearfix"></div>
          <br>
        </form>
      </div>
      <div class="article-content">
        <div class="faq row maB2x">
          <div class="faq-head col-md-12 hidden-xs hidden-sm">
            <div class="col-md-7">問題內容</div>
            <div class="col-md-2">單位</div>
            <div class="col-md-1">人氣</div>
            <div class="col-md-2"></div>
          </div>
          <div class="faq-item col-md-12" [ngClass]="{active:item.active}" *ngFor="let item of faqs | slice: (page - 1) * pageSize: (page * pageSize - 1)">
            <div class="col-md-7 navy">
              <a href="javascript:void(0)" (click)="getReply(item.OrganNo, item.SeqNo)">{{item.CaseContent}}</a>
              <span class="faq-open pull-right hidden-md hidden-lg" (click)="item.active=!item.active">
                <i class="fa fa-plus" [ngClass]="{active:item.active}"></i>
              </span>
            </div>
            <div class="col-md-2 text-black">{{item.OrganName}}</div>
            <div class="col-md-1 text-black">{{item.ViewCount}}</div>
            <div class="col-md-2 text-right">
              <a class="text-orange" href="javascript:void(0)" (click)="getReply(item.OrganNo, item.SeqNo)">詳細問題內容
                <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
          <div class="faq-item col-md-12 navy" *ngIf="faqs.length==0">沒有符合的問題內容</div>
        </div>
        <div class="text-center">
          <ul class="page">
            <li class="page-first" [ngClass]="{'page-alpha':page<=1}">
              <a *ngIf="page>1" [routerLink]="['/faq', 1 ]">
                <i class="fa fa-angle-double-left fa-lg" aria-hidden="true" ></i>
              </a>
            </li>
            <li class="page-prev" [ngClass]="{'page-alpha':page<=1}">
              <a *ngIf="page>0" [routerLink]="['/faq', page - 1]">
                <i class="fa fa-angle-left fa-lg" aria-hidden="true" ></i>
              </a>
            </li>
            <li><a [routerLink]="['/faq', page ]">{{ page }}</a></li>
            <li class="page-next" [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', page + 1]"><i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
            <li class="page-final" [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', totalPage]"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true" ></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-faq-detail *ngIf="reply" [reply]="reply" (closeReply)="closeReply()"></app-faq-detail>

<div *ngIf="faqs.length===0&&!isSearch" class="pop" style="display:block;">
  <div class="pop-content">
    <div class="mk-spinner-doublecircle"></div>
    <span class="loading-words">Loading ...</span>
  </div>
</div>
