.ie8-wrap {
    width: 100%;
    height: auto;
    display: block;
}
.header-cover {
    background: url(../images/ie8.png) no-repeat;
    background-size: 100% auto;
    background-position: top center;
    height: 500px;
}