<div class="container">
    <div class="banner row">
        <div class="banner-page-name">
            <h2 class="dk-green">案件查詢</h2>
            <p class="dk-green">Search Case</p>
        </div>
        <img src="./assets/images/banner/banner_pic_query.png" alt="">
    </div>
    <div class="row">
        <div class="col-md-4 page-block maB2x">

            <div class="article-content">
                <p class="article-lable require" *ngIf="searchCase.Content[0].Source === '0'">主旨</p>
                <p class="navy maB2x" *ngIf="searchCase.Content[0].Source !== '0'">{{searchCase.Content[0].e_subject}}</p>
                <p class="article-lable require">建議事項</p>
                <p class="navy maB2x">{{searchCase.Content[0].subject}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="article-lable require">收件編號</p>
                        <p class="navy maB2x pdLHalfX">
                          <span *ngIf="searchCase.Content[0].source_id === '0'">
                            {{searchCase.Content[0].case_no1+'-'+searchCase.Content[0].case_no4}}
                          </span>
                          <span *ngIf="searchCase.Content[0].source_id === '1'">
                            {{searchCase.Content[0].case_no1+'-'+searchCase.Content[0].case_no2+'-'+searchCase.Content[0].case_no3+'-'+searchCase.Content[0].case_no4}}
                          </span>
                          </p>
                        <p class="article-lable require">來源別</p>
                        <p class="navy maB2x pdLHalfX">{{searchCase.Content[0].Source}}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="article-lable require">時間</p>
                        <p class="navy maB2x pdLHalfX">
                          <span *ngIf="searchCase.Content[0].source_id === '1'">
                            {{searchCase.Content[0].subj_date}}
                          </span>
                          <span *ngIf="searchCase.Content[0].source_id === '0'">
                            {{searchCase.Content[0].subj_time}}
                          </span>
                        </p>
                        <p class="article-lable require">機密等級</p>
                        <p class="navy maB2x pdLHalfX">{{searchCase.Content[0].Security}}</p>
                    </div>
                </div>
                <div *ngIf="searchCase.Content[0].Atth_FileNames && searchCase.Content[0].Atth_FileNames.length > 0">
                  <p class="article-lable require">附加檔案 </p>
                  <p class="navy maB2x pdLHalfX">
                    <listgroup *ngFor="let item of searchCase.Content[0].Atth_FileNames">
                      <a class="word-break" target="_blank" href="/webapi/api/attachfile/1?fileName={{item.FileName}}&caseNo={{searchCase.Content[0].case_no1}}-{{searchCase.Content[0].case_no2}}-{{searchCase.Content[0].case_no3}}-{{searchCase.Content[0].case_no4}}&suggName={{searchCase.Content[0].sugg_name}}">
                        <i class="fa fa-paperclip"></i>&nbsp;{{item.FileName}}
                      </a><br/>
                    </listgroup>
                  </p>
                </div>
                <div class="row text-center">
                  <a class="btn btn-green hidden-xs hidden-sm" href="javascript:void(0);" (click)="goBack()">繼續查詢陳報案件</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 page-block">
            <div class="article-content block-separate" *ngIf="searchCase.ProcessStatus.length !== 0">
                <div *ngFor="let item of searchCase.ProcessStatus" aria-describedby="searchCase.ProcessStatus">
                  <div class="row">
                    <div class="col-md-6">
                      <p class="article-lable require">陳情類別(主項)</p>
                      <p class="navy maB2x pdLHalfX">{{item.item_name}}</p>
                      <p class="article-lable require">承辦機關</p>
                      <p class="navy maB2x pdLHalfX">{{item.organ_name}}</p>
                      <p class="article-lable require">序號</p>
                      <p class="navy maB2x pdLHalfX">{{item.seq_no}}</p>
                      <p class="article-lable require">承辦人</p>
                      <p class="navy maB2x pdLHalfX">{{item.undertaker}}</p>
                    </div>
                    <div class="col-md-6">
                      <p class="article-lable require">陳情類別(子項)</p>
                      <p class="navy maB2x pdLHalfX">{{item.sub_itemname}}</p>
                      <p class="article-lable require">科室</p>
                      <p class="navy maB2x pdLHalfX">{{item.dept_name}}</p>
                      <p class="article-lable require">完成日期 </p>
                      <p class="navy maB2x pdLHalfX">{{item.FinishDate}}</p>
                      <p class="article-lable require">承辦人電話</p>
                      <p class="navy maB2x pdLHalfX">{{item.proc_telno}}</p>
                    </div>
                  </div>
                  <p class="article-lable require" *ngIf="item.Reply">處理情形(答覆內容)</p>
                  <p class="navy maB2x" style="white-space: pre-line;" *ngIf="item.Reply">{{ item.Reply }}</p>
                  <div *ngIf="item.Atth_FileNames && item.Atth_FileNames.length !== 0">
                    <p class="article-lable require">附加檔案 </p>
                    <p class="navy maB2x pdLHalfX">
                      <a target="_blank" *ngFor="let file of item.Atth_FileNames"
                      href="http://soweb.kcg.gov.tw/webapi/api/attachfile/{{file.SerialNo}}?fileName={{file.FileName}}&caseNo={{searchCase.Content[0].case_no1}}-{{searchCase.Content[0].case_no2}}-{{searchCase.Content[0].case_no3}}-{{searchCase.Content[0].case_no4}}&suggName={{searchCase.Content[0].sugg_name}}&organNo={{item.org_no}}&seqNo={{item.seq_no}}&sNo={{item.s_no}}">
                        <i class="fa fa-paperclip"></i>&nbsp;{{file.FileName}}
                      </a>
                    </p>
                  </div>
                  <hr/>
                </div>
            </div>
            <div class="article-content block-separate" *ngIf="searchCase.ProcessStatus.length === 0">
              <div class="row">
                <div class="col-md-12">
                  親愛的網友，您好！
                  <br>
                  目前您的申報案件正在分案中。
                  <br/>
                </div>
              </div>
            </div>
            <a class="btn btn-green hidden-lg hidden-md" href="javascript:void(0);" (click)="goBack()">繼續查詢陳報案件</a>
        </div>
    </div>
</div>
