  <div class="row" style="height:100vh">

     <div class="pop" style="display:block;">
        <div class="pop-content fat-content">
          <div class="check">
            <div class="check-panel">
              <div class="check-mark"><i class="fa fa-check"></i></div>
              <h4 class="check-title navy text-center">親愛的網友，您好！</h4>
              <br>
              <div *ngIf="!queryExist">
                <p>有事嗎？</p>
              </div>
              <div *ngIf="queryExist">
                <div class="check-info navy" *ngIf="key === 'CaseNo'">
                  <p class="text-center">您已經確認過並且在辦理中<br>您的申報案號是</p>
                  <h2 class="text-center">{{val}}</h2>
                </div>
                <div class="check-info navy" *ngIf="key === 'FirstConfirm'">
                  已經確認成功！<br>系統後續將自動寄出案件編號至您的申報所填寫的信箱並立即進行分案處理。
                </div>
                <div class="check-info navy" *ngIf="key === 'DateTime'">
                  <p>已經完成確認，第一次確認時間如下： </p>
                  <h4>{{getdate()}}</h4>
                </div>
                <div class="check-info navy" *ngIf="key === 'Error'">
                  Sorry，確認案件失敗！<br>
                  {{val}}
                </div>
                <br>
                <br>
              </div>

              <h4 class="check-footer navy text-center">高雄市政府市長信箱處理小組 敬上</h4>
              <a href="/" class="btn btn-green" >我瞭解了</a>
            </div>
          </div>
        </div>
      </div>
  </div>


