<form [formGroup]="myForm" action="" *ngIf="question" novalidate>
  <header>
    <p>您的回答，將是本府改進「市長電子信箱」及人民陳情案件的重要參考，您回答的電子郵件內容將不會透過任何其他管道流出或引用。現在請您花費約五分鐘的時間填答以下問題（共10題），並於問卷結束後點按<送出答覆> 將您的寶貴意見傳給我們。
如果您有其他任何有關案件處理的問題，請洽詢： 聯合服務中心 電話：(07)07-3368333轉2833、2834
有關其他任何技術方面的問題，請洽詢： 資訊中心-系統發展科 電話：(07)3368333-2760、2761</p>
  </header>
  <!--<div *ngFor="let q of question.QuestionSet; let i = index">
    <h2>{{q.QuestionSubject}}</h2>
    <ul>
      <li *ngFor="let item of q.Questions; let j = index">
        <label>
          <input value="{{item.ItemValue}}" name="question" type="{{q.QuestionType}}">
          <span>{{item.ItemTitle}}</span>
        </label>
        </li>
    </ul>
    </div>
    -->
    <input type="text" formControlName="name">
    <div *ngFor="let allQ of question.QuestionSet">
      <p class="center-block" *ngFor="let q of allQ.Questions">
        <input [type]="allQ.QuestionType" [value]="q.ItemValue" formControlName="state{{q.QuestionId}}">{{q.ItemTitle}}
      </p>
    </div>



{{myForm.value | json}}
{{myForm.status | json}}

</form>

<!--<p>works</p>-->
