<div class="container" (window:scroll)="onScroll($event.target)">
  <div class="banner row">
    <div class="banner-page-name">
      <h2 class="dk-green">網站使用相關規範</h2>
      <p class="dk-green">Policy</p>
    </div>
    <img src="./assets/images/banner/banner_pic_policy.png" alt="">
  </div>
  <div class="row">
    <div class="col-md-3 page-block maT2x">
      <div [ngClass]="{'fixed-list': scrollHeight > 300 }">
        <p class="article-lable">網站使用相關規範</p>
        <ul class="news-all" >
          <li><a [ngClass]="{'active': 'privacy' === getLableActive(scrollHeight)}" href="javascript:void(0);" (click)="scrollTo('privacy')">隱私權暨資訊安全保護政策</a></li>
          <li><a [ngClass]="{'active': 'security' === getLableActive()}" href="javascript:void(0);" (click)="scrollTo('security')">網站安全政策</a></li>
          <li><a [ngClass]="{'active': 'copyright' === getLableActive()}" href="javascript:void(0);" (click)="scrollTo('copyright')">著作權說明</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 page-block">
      <div id="privacy" class="article-header text-center">
        <h4 class="article-title">隱私權暨資訊安全保護政策</h4>
      </div>
      <div class="article-content block-separate">
        <p clas="navy maB2x">
          由於網際網路資料的傳輸不能保證百分之百的安全，本網站 努力保護網友的個人資料安全。由於資料傳輸過程牽涉您上網環境保全之良窳，並無法確信或保證網友傳送或接收本網站資料的安全，網友須注意並承擔網路資料傳 輸之風險。 <br>          網友基於個人意願在網站透露的各種個人資料，例如在熱門話題討論區公佈個人資料如電子郵件、姓名等，可能會被他人收集和使用，如果您擔心這些困擾，您可以 不用輸入這些資料。如果您在網路上公佈可被他人讀取的個人資料時，可能會收到其他團體主動提供的廣告或垃圾郵件。請您諒解此部份所造成的後果均非本網站所
          能控制範圍，也無法負擔任何責任。
          <br>
          <br>
        </p>
        <p class="article-lable">適用範圍</p>
        <p class="navy maB2x">
          以下的隱私權保護政策，適用於您在高雄市政府市長信箱（線上即時服務系 統）網站以及其延伸服務網站（以 <a href="http://soweb.kcg.gov.tw/">soweb.kcg.gov.tw</a> 網域為原則，以下均簡稱本網站）活動時，所涉及有關個人資料收集、運用與保護。但不適用
          於經由本網站搜尋連結之其他網站，當您在這些網站進行活動時，關於個人資料的保護，則適用各該網站的隱私權保護政策。
        </p>
        <p class="article-lable">個人資料收集方式</p>
        <p class="navy maB2x">
          本網站依據「高雄市政府及所屬各機關處理人民陳情案件要點」透過以下幾 種管道收集網友個人資料： <br> 案件反應或查詢： <br> 當您點選本網站中建議(檢舉)類別時，依據「高雄市政府及所屬各機關處理人民陳情案件要點」會請您提供姓名、電話、電子信箱、性別及住址等個人資訊，限於
          公務處理使用，若您選擇不提供或提供非正確資料，受理機關有權不予處理，若是您冒名檢舉要自行負擔法律責任，於案件結案時會有滿意度問卷調查，您可依個人 意願與否提供相關意見供研考會彙整參考改進。<br> 一般瀏覽：
          <br> 本網站會保留網友在上網瀏覽或查詢時，伺服器自行產生的相關記錄(LOG)，包括連線設備IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等。本網 站會對個別連線者的瀏覽器予以標示，歸納使用者瀏覽器在本網站內部所瀏覽的網頁，除非您願意告知您的個人資料，否則本網站不會，也無法將此項記錄和您的個
          人資料進行對應。 <br> 其他：
          <br> 除了您主動於網站登錄提供個人資料外，您可能在本網站的討論區等單元，主動提供個人資料如電子郵件，姓名等。這種形式的資料提供，不在本網站隱私權保護政 策的範圍以內。此外，如果您寫信與本網站聯繫或是透過其他管道向我們反應意見，也會保存此項通訊及處理紀錄。<br>
        </p>
        <p class="article-lable">個人 Cookies的運用與政策</p>
        <p class="navy maB2x">
          為提供個人化的服務，會使用Cookies技術來儲存及在追蹤網友在某 時段的資料。Cookie是從網站傳送到瀏覽器，並保存在使用者電腦硬碟中的簡短資料。網友可以在Netscape的「功能設定」的「進階」或是IE的 「Internet選項」的「安全性」或Chrome「選項」的「進階」中選擇修改瀏覽器對Cookies的接受程度，包括接受所有Cookies、設定
          Cookies時得到通知、拒絕所有Cookies等。如果您選擇拒絕所有的Cookies，可能無法使用部份個人化服務或是參與部份的活動。 <br> 一般而言，會依據以下目的及情況，在網友瀏覽器中寫入並讀取Cookies︰
          <br> 為提供更好、更個人化的服務：
          <br> 方便您參與個人化的互動活動。cookies 在您註冊或登入時建立，並在您登出時修改。 <br> 為統計瀏覽人數及分析瀏覽模式：
          <br> 以了解網頁瀏覽的情況，做為改善服務的參考。 <br> 追蹤點選宣導廣告或參加行銷活動情形：
          <br> 在發送電子報或網站主辦的行銷活動時，有時會寫入Cookies資料以追蹤整個活動過程中，網友的參與程度及相關數據。
          <br>
        </p>
        <p class="article-lable">個人資料的運用方式</p>
        <p class="navy maB2x">
          本網站不會出售、出租或任意交換任何您的個人資料給其他團體或個人。 只有在以下狀況，本網站會在本政策原則之下，與第三者共用您的個人資料。 <br> 統計與分析：
          <br> 本網站根據問卷調查、伺服器日誌文件，對使用者的人數、興趣和行為進行內部研究。此研究是根據全體網友的資料進行統計分析與整理，而所有的公開資訊或分析 報告，將僅對全體使用者行為總和進行分析及公佈，並不會提供特定對象個別資料之分析報告。<br>
        </p>
        <p class="article-lable">資料的分享與公開方式</p>
        <p class="navy maB2x">
          本網站不會任意出售、交換、或出租任何您的個人資料給其他團體或個人。 只有在以下狀況，本網站會在本政策原則之下，與第三者共用您的個人資料︰<br> 本網站有義務保護其網友隱私及個人資料，非經您本人同意不會自行修改、刪除或提供任何（或部份）網友個人資料及檔案。除非經過您事先同意或符合以下情況：
          <br> （1）中華民國司法檢調單位透過合法程序進行調閱。
          <br> （2）違反網站相關規章且已造成脅迫性。
          <br> （3）基於主動衍伸政府網站服務效益之考量。
          <br> （4）保護其他網友之合法使用權益。
          <br>
        </p>
        <div id="security" class="article-header text-center">
          <h4 class="article-title">網站安全政策</h4>
        </div>
        <p class="article-lable">隱私權暨資訊安全保護政策修訂</p>
        <p class="navy maB2x">
          本網站會不定時修訂本項政策，以符合最新之隱私權保護規範。當在使用個 人資料的規定做較大幅度修改時，會在網頁上張貼告示，通知您相關事項。<br>
        </p>
        <p class="article-lable">隱私權暨資訊安全保護政策諮詢</p>
        <p class="navy maB2x">
          如果您對於本網站的隱私權保護政策或是有個人資料收集、運用、更新等問題， 歡迎來信至意見信箱：
          <a href="mailto:kcgrdec@kcg.gov.tw">kcgrdec@kcg.gov.tw</a>。
        </p>
        <div id="copyright" class="article-header text-center">
          <h4 class="article-title">著作權聲明條款</h4>
        </div>
        <p class="article-lable">著作權聲明</p>
        <p class="navy maB2x">
          由於網際網路資料的傳輸不能保證百分之百的安全，本網站 努力保護網友的個人資料安全。由於資料傳輸過程牽涉您上網環境保全之良窳，並無法確信或保證網友傳送或接收本網站資料的安全，網友須注意並承擔網路資料傳 輸之風險。 <br>          網友基於個人意願在網站透露的各種個人資料，例如在熱門話題討論區公佈個人資料如電子郵件、姓名等，可能會被他人收集和使用，如果您擔心這些困擾，您可以 不用輸入這些資料。如果您在網路上公佈可被他人讀取的個人資料時，可能會收到其他團體主動提供的廣告或垃圾郵件。請您諒解此部份所造成的後果均非本網站所
          能控制範圍，也無法負擔任何責任。
          <br> 一、 高雄市政府網站上所刊載之所有內容，除著作權法規定不得為著作權之標的（如法律、命令、公務員 撰擬之講稿、新聞稿等...請參考著作權法第９條規定）外，其他包括文字敘述、攝影、圖片、錄音、影像及其他資訊，均受著作權法保護。<br>          二、 上述不得為著作權標的者，任何人均得自由利用，歡迎各界廣為利用。<br> 三、 本網站資訊內容受著作權法保護者，除有合理使用情形外，應取得該著作財產權人同意或授權後，方得利用。<br> 四、 上述“合理使用情形”，說明如下：<br>
          <br> * 本網站上所刊載以高雄市政府暨所屬機關學校名義公開發表之著作，即著作人為高雄市 政府暨所屬機關學校者，在合理範圍內，得重製、公開播送或公開傳輸，利用時，並請註明出處。<br> * 本網站之資訊，可為個人或家庭非營利之目的而重製。<br>          * 為報導、評論、教學、研究或其他正當目的，在合理範圍內，得引用本網站上之資訊，引用時，並請註明出處。<br> * 其他合理使用情形，請參考著作權法第四十四條至第六十五條之規定。<br>
        </p>
      </div>
    </div>
  </div>
</div>
