<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="Author" content="Ilandy &nbsp; Austin">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>市長信箱 - 高雄市政府線上即時服務平台</title>
    <script src="https://use.fontawesome.com/2c72f40202.js"></script>
    <link href="stylesheets/all.css?v=48" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="javascripts/all.js"></script>
    <script src="javascripts/ctrl.js"></script>
    <script src="javascripts/product.directive.js"></script>

  </head>
  <body ng-app="myApp" ng-controller="myCtrl as m">
    <div class="wrap index" ng-class="{'active':m.isActive}">
      <div class="container">
      <nav class="header row index">
  
    <h1 class="header-band">
      <img calss="pull-left" src="images/Kao_logo.png" width="40" alt="">
      <p>
        <span class="navy">線上即時服務系統</span><br>
        <small class="navy">Service online</small>
      </p>
      
      <div class="news visible-xs maT1x" ng-click="m.newsActive=true"><a href="###"><i class="fa fa-info"></i></a></div>
      <div class="mob-menu visible-xs"></div>
    </h1>
  <div class="header-right hidden-xs">
    
    <div class="mob-menu visible-md visible-sm"></div>
    <div class="news visible-md visible-sm maT1x" ng-click="m.newsActive=true"><a href="###"><i class="fa fa-info"></i></a></div>
    <ul class="header-menu visible-lg">
      <li class="menu-item active"><a href="index.html">市長信箱</a></li>
      <li class="menu-item "><a href="Case.html">案件查詢</a></li>
      <li class="menu-item "><a href="Service.html">服務流程</a></li>
      <li class="menu-item "><a href="Faq.html">常見問題 FAQ</a></li>
      <li class="menu-item"><a href="http://work1999.kcg.gov.tw/Rptdownload.aspx" target="_blank">案件反應排行榜</a></li>
      <li class="menu-item "><a href="Satisfaction.html">案件處理滿意度</a></li>
      <li class="menu-item"><a href="http://disdp.kcg.gov.tw/exchange/feedback.php" target="_blank">廉政案件</a></li>
      <li class="menu-item" ng-click="m.newsActive=true"><a href="###"><i class="fa fa-info"></i></a></li>
    </ul>
  </div>
  <div class="header-news" ng-if="m.newsActive">
    <a href="">如果您是用 Yahoo! 、Hinet 、PChome 等免費信箱，可以先至「垃圾信匣」找看看，有可能被誤判為垃圾信。</a>
    <span class="pull-right" ng-click="m.newsActive = false"><i class="fa fa-times-circle"></i></span>
  </div>
</nav>
      
      </div>
        <div class="index-header">
	<div class="big-header big-header--back"></div>
	<div class="big-header-slash hidden-xs"></div>
	<div class="big-header container hidden-xs">
	</div>
	<div class="header-content animated ">
		<div class="header-content-bg"></div>
		<div class="header-content-info">
			<p class="text-center font-2xl">歡迎進入<br>線上即時服務平台</p>
			<p>平台提供陳情、檢舉、投訴與市<br>民生命財產安全相關事項請速撥</p>
			<p class="text-center">撥打&nbsp;&nbsp;<a class="font-2xl phone-call" href="tel:1999">1999</a>&nbsp;&nbsp;專線</p>
			<a href="###" ng-click="m.getScrollTarget('mayor')" class="btn-style contact-phone page-scroll"><i class="fa fa-envelope"></i>&nbsp;&nbsp;寫信給市長</a>
		</div>
	</div>
</div>
<div class="body">
	<div class="container">
		<div class="out-conatainer row">
			<div class="article-header text-center">
				<h1 id="mayor" class="article-title">市長信箱</h1>
			</div>
		</div>
		<div class="row pdLR1x body-content">
				<div class="col-md-4">
					<div class="case-type" ng-click="m.caseActive(case.active,$index+0,m.case)" ng-class="{'active':case.active}" ng-repeat="case in m.case | filter:'colm1'">
						<p class="case-type-name"><span class="case-type-num"> {{ case.id }} <i class="fa Example of angle-double-right fa-angle-double-right"></i></span> {{case.type}} <span class="case-open pull-right"><i class="fa fa-plus" ng-class="{'fa-rotate-45':m.case[$index].active}"></i></span></p>
						<div class="clearfix"></div>
						<ul class="case-list" ng-if="case.item.length !== 0">
							<li class="case-item" ng-repeat="item in case.item"><a href="###">{{item.name}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="case-type" ng-click="m.caseActive(case.active,$index+7,m.case)" ng-class="{'active':case.active}" ng-repeat="case in m.case | filter:'colm2'">
						<p class="case-type-name"><span class="case-type-num"> {{ case.id }} <i class="fa Example of angle-double-right fa-angle-double-right"></i></span> {{case.type}} <span class="case-open pull-right"><i class="fa fa-plus" ng-class="{'fa-rotate-45':m.case[$index].active}"></i></span></p>
						<div class="clearfix"></div>
						<ul class="case-list" ng-if="case.item.length !== 0">
							<li class="case-item" ng-repeat="item in case.item"><a href="###">{{item.name}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="case-type" ng-click="m.caseActive(case.active,$index+14,m.case)" ng-class="{'active':case.active}" ng-repeat="case in m.case | filter:'colm3'">
						<p class="case-type-name"><span class="case-type-num"> {{ case.id }} <i class="fa Example of angle-double-right fa-angle-double-right"></i></span> {{case.type}} <span class="case-open pull-right"><i class="fa fa-plus" ng-class="{'fa-rotate-45':m.case[$index].active}"></i></span></p>
						<div class="clearfix"></div>
						<ul class="case-list" ng-if="case.item.length !== 0">
							<li class="case-item" ng-repeat="item in case.item"><a href="###">{{item.name}}</a></li>
						</ul>
					</div>
				</div>
		</div>
		<!-- <pre>
			{{ m.case | json }}
		</pre> -->
	</div>
</div>

      <footer>
	<div class="container">
		<div class="row pdLR1x">
			<div class="footer col-md-10 col-sm-12 col-xs-12">
				<img class="pull-left pdR1x visible-lg visible-md" src="images/qrcode.png" alt="">

				<p class="footer-info">
					本系統由 <a class="link">高雄市政府資訊中心</a> 維護<br>
				</p>
				<small class="pdT2x font-sm">當系統處於定期維護時間每日凌晨 01:00 ~ 02:00 時，<br>主機可能會停止所有服務，如有不便還請見諒。<br><br>
				高雄市政府聯合服務中心電話：</small>
				<h5 class="font-lg">(07) 336-8333 #2819、#2833、#2834</h5>
				<div class="text-center">
					<a href="tel:073368333" class="btn-style contact-phone visible-sm visible-xs"><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;撥打電話</a>
				</div>

			</div>
			<div class="col-md-2">
				<ul class="link-group font-md hidden-sm hidden-xs">
					<li><a href="index.html">隱私權保護政策</a></li>
					<li><a href="about.html">網站安全政策</a></li>
					<li><a href="product.html">著作權聲明</a></li>
					<li><a href="contact.html">高雄市政府全球資訊網</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
    </div>
    <div class="mob-menu-list" ng-class="{'active':m.isActive}">
        <ul class="header-menu" ng-class="{'active':m.isActive}">
          <li class="menu-item" ng-click="m.menuActive()"><a href="###"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;&nbsp;返回</a></li>
          <li class="menu-item active"><a href="index.html">網站首頁</a></li>
          <li class="menu-item "><a href="about.html">企業情報</a></li>
          <li class="menu-item "><a href="product.html">產品介紹</a></li>
          <li class="menu-item "><a href="contact.html">客戶服務</a></li>
        </ul>
      </div>
  </body>
</html>
