<div class="container">
    <div class="banner row">
        <div class="banner-page-name">
            <h2 class="dk-green">案件查詢</h2>
            <p class="dk-green">Search Case</p>
        </div>
        <img src="./assets/images/banner/banner_pic_query.png" alt="">
    </div>
    <div class="row">
        <div class="col-md-4 page-block maB2x" *ngIf="searchCase.Content[0] != null">

            <div class="article-content">
                <p class="article-lable require">主旨</p>
                <p class="navy maB2x">{{searchCase.Content[0].subject}}</p>
                <p class="article-lable require">建議事項</p>
                <p class="navy maB2x">{{searchCase.Content[0].subject}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="article-lable require">收件編號</p>
                        <p class="navy maB2x pdLHalfX">{{searchCase.Content[0].case_no4}}</p>
                        <p class="article-lable require">來源別</p>
                        <p class="navy maB2x pdLHalfX">{{searchCase.Content[0].Source}}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="article-lable require">時間</p>
                        <p class="navy maB2x pdLHalfX">{{searchCase.Content[0].subj_time}}</p>
                        <p class="article-lable require">機密等級</p>
                        <p class="navy maB2x pdLHalfX">{{searchCase.Content[0].Security}}</p>
                    </div>
                </div>
                <div *ngIf="searchCase.Content[0].Atth_FileNames && searchCase.Content[0].Atth_FileNames.length > 0">
                  <p class="article-lable require">附加檔案 </p>
                  <p class="navy maB2x pdLHalfX">
                    <span *ngFor="let item of searchCase.Content[0].Atth_FileNames">
                      <a target="_blank" href="http://soweb.kcg.gov.tw/webapi/api/attachfile/1?fileName={{item.FileName}}&caseNo={{searchCase.Content[0].case_no1}}-{{searchCase.Content[0].case_no2}}-{{searchCase.Content[0].case_no3}}-{{searchCase.Content[0].case_no4}}&suggName={{searchCase.Content[0].sugg_name}}">
                        <i class="fa fa-paperclip"></i>&nbsp;{{item.FileName}}
                      </a><br/>
                    </span>
                  </p>
                </div>
                <a class="btn btn-green hidden-xs hidden-sm" href="javascript:;" [routerLink]="['/']">繼續查詢陳報案件</a>
            </div>
        </div>
        <div class="col-md-8 page-block">
            <div class="article-content block-separate">
                <div *ngFor="let item of searchCase.ProcessStatus" aria-describedby="searchCase.ProcessStatus">
                  <div class="row">
                    <div class="col-md-6">
                      <p class="article-lable require">陳情類別(主項)</p>
                      <p class="navy maB2x pdLHalfX">{{item.item_name}}</p>
                      <p class="article-lable require">承辦機關</p>
                      <p class="navy maB2x pdLHalfX">{{item.organ_name}}</p>
                      <p class="article-lable require">序號</p>
                      <p class="navy maB2x pdLHalfX">{{item.seq_no}}</p>
                      <p class="article-lable require">承辦人</p>
                      <p class="navy maB2x pdLHalfX">{{item.undertaker}}</p>
                    </div>
                    <div class="col-md-6">
                      <p class="article-lable require">陳情類別(子項)</p>
                      <p class="navy maB2x pdLHalfX">{{item.sub_itemname}}</p>
                      <p class="article-lable require">科室</p>
                      <p class="navy maB2x pdLHalfX">{{item.dept_name}}</p>
                      <p class="article-lable require">完成日期 </p>
                      <p class="navy maB2x pdLHalfX">{{item.FinishDate}}</p>
                      <p class="article-lable require">承辦人電話</p>
                      <p class="navy maB2x pdLHalfX">{{item.proc_telno}}</p>
                    </div>
                  </div>
                  <p class="article-lable require">處理情形(答覆內容)</p>
                  <p class="navy maB2x">{{item.Reply}}</p>
                  <div *ngIf="item.Atth_FileNames && item.Atth_FileNames.length > 0">
                    <p class="article-lable require">附加檔案 </p>
                    <p class="navy maB2x pdLHalfX">
                      <a target="_blank" href="http://soweb.kcg.gov.tw/webapi/api/attachfile/1?fileName={{item.Atth_FileNames}}&caseNo={{searchCase.Content[0].case_no1}}-{{searchCase.Content[0].case_no2}}-{{searchCase.Content[0].case_no3}}-{{searchCase.Content[0].case_no4}}&suggName={{searchCase.Content[0].sugg_name}}&organNo={{item.org_no}}&seqNo={{item.seq_no}}&sNo={{item.s_no}}">
                        <i class="fa fa-paperclip"></i>&nbsp;{{item.Atth_FileNames}}
                      </a>
                    </p>
                  </div>
                  <hr/>
                </div>
            </div>
            <a class="btn btn-green hidden-lg hidden-md" href="javascript:;" [routerLink]="['/']">繼續查詢陳報案件</a>
        </div>
    </div>
</div>
