<footer>
	<div class="container">
		<% if page_classes == 'index' %>
			<div class="row contact">
				<div class="contact-title">
					<h3>
						Contact<span class="hidden-xs hidden-sm"><br></span> Me
					</h3>
					<p>聯絡我們</p>
				</div>
				<div class="contact-form">
					<fieldset class="field-set">
						<div class="field-group">
							<label class="field-label" for="name">
								您的大名
							</label>
							<input class="field-input" type="text" id="name" placeholder="Ilandy chiu">
						</div>
						<div class="field-group">
							<label class="field-label" for="email">
								電子郵件
							</label>
							<input class="field-input" type="email" id="email" placeholder="請輸入電子郵件" >
						</div>
						<div class="field-group">
							<label class="field-label" for="qa">
								詢問內容
							</label>
							<textarea class="field-input" id="qa" rows="6" placeholder="您的問題內容" ></textarea>
						</div>
						<div class="text-right">
						<button class="contact-btn"> 送出訊息 </button></div>
					</fieldset>
				</div>
			</div>

		<% end %>
		<div class="row">
			<div class="col-md-2 hidden-xs hidden-sm">
				<ul class="link-group">
					<li><a href="index.html">網站首頁</a></li>
					<li><a href="about.html">企業訊息</a></li>
					<li><a href="product.html">產品介紹</a></li>
					<li><a href="contact.html">客戶服務</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-1 col-xs-1"></div>
			<div class="shop col-md-6 col-sm-11 col-sm-10 col-xs-11">
				<h3 class="shop-img hidden-xs"><img alt="广西金秀松源林产有限公司" src="images/purelogo.gif" alt=""></h3>
				<p class="shop-info">
					版权所有 广西金秀松源林产有限公司 <br>
					广西金秀县桐木镇象桐路（工业集中区）<br>
					桂ICP备13007186号-1 <br>
				</p>
			</div>
		</div>
	</div>
</footer>