<footer>
	<div class="container">
		<div class="row pdLR1x">
			<div class="footer col-md-10 col-sm-11 col-sm-10 col-xs-11">
				<img class="pull-left pdR1x visible-lg" src="images/qrcode.png" alt="">

				<p class="footer-info">
					本系統由 <a class="link">高雄市政府資訊中心</a> 維護<br>
				</p>
				<small class="pdT2x font-sm">當系統處於定期維護時間每日凌晨 01:00 ~ 02:00 時，<br>主機可能會停止所有服務，如有不便還請見諒。<br><br>
				高雄市政府聯合服務中心電話：</small>
				<h5 class="font-lg">(07) 336-8333 #2819、#2833、#2834</h5>
				<a href="tel:073368333" class="btn-style contact-phone visible-sm visible-xs"><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;撥打電話</a>

			</div>
			<div class="col-md-2">
				<ul class="link-group font-md hidden-sm hidden-xs">
					<li><a href="index.html">隱私權保護政策</a></li>
					<li><a href="about.html">網站安全政策</a></li>
					<li><a href="product.html">著作權聲明</a></li>
					<li><a href="contact.html">高雄市政府全球資訊網</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>