<div class="index-header">
	<div class="big-header big-header--back"></div>
	<div class="big-header-slash hidden-xs"></div>
	<div class="big-header container hidden-xs">
	</div>
	<div class="header-content">
		<div class="header-content-bg"></div>
		<div class="header-content-info">
			<p class="text-center font-2xl">歡迎進入<br>線上即時服務平台</p>
			<p>平台提供陳情、檢舉、投訴與市<br>民生命財產安全相關事項請速撥</p>
			<p class="text-center">撥打&nbsp;&nbsp;<a class="font-2xl phone-call" href="tel:1999">1999</a>&nbsp;&nbsp;專線</p>
			<a href="tel:073368333" class="btn-style contact-phone"><i class="fa fa-envelope"></i>&nbsp;&nbsp;寫信給市長</a>
		</div>
	</div>
</div>
<div class="body">
	<div class="container">
		<div class="out-conatainer row">
			<div class="article-header text-center">
				<h1 class="article-title">市長信箱</h1>
			</div>
		</div>
		<div class="row pdLR1x body-content">
			<% 3.times do |num|%>
				<div class="col-md-4">
					<% 7.times do |num|%>
					<div class="case-type" ng-click="!m.caseActive" ng-class="{'active':m.caseActive == true}">
						<p class="case-type-name"><span class="case-type-num">01 <i class="fa Example of angle-double-right fa-angle-double-right"></i></span> 路燈維護 <span class="case-open pull-right"><i class="fa fa-plus" ng-class="{'fa-rotate-90':m.caseActive == true}"></i></span></p>
						<div class="clearfix"></div>
						<ul class="case-list">
							<li class="case-item"><a href="###">故障不亮</a></li>
							<li class="case-item"><a href="###">白天未熄</a></li>
							<li class="case-item"><a href="###">路燈損毀</a></li>
							<li class="case-item"><a href="###">路燈遷移</a></li>
							<li class="case-item"><a href="###">其他事項</a></li>
						</ul>
					</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
