<div class="index-header">
	<div class="big-header big-header--back"></div>
	<div class="big-header-slash"></div>
	<div class="big-header container">
		<div class="header-content">
			
		</div>
	</div>
</div>
<div class="body">
	<div class="container">
		<section class="row out-conatainer">
		123
		</section>
	</div>
</div>

<!-- <h3 class="index-title hidden-xs hidden-sm">
	<span class="index-title-content">
		品質把關 三大要素
		<span class="deco-line"></span>
	</span>
</h3>
<div class="subbnr">
	<div class="subbnr-img hidden-xs hidden-sm"><img src="images/index/index_subbanner_00.png" alt=""></div>
	<div class="subbnr-content">
		<div class="subbnr-content-wrap">
			<div class="sbbnr-content-top">Own Forestry</div>
			<div class="sbbnr-content-bottom">擁有自有林場</div>
		</div>
	</div>
	<div class="subbnr-img hidden-lg hidden-md"><img src="images/index/index_subbanner_00.png" alt=""></div>
</div>
<div class="subbnr">
	
	<div class="subbnr-content">
		<div class="subbnr-content-wrap">
			<div class="sbbnr-content-top">Collaborative<br>Research</div>
			<div class="sbbnr-content-bottom">長期與科研所合作</div>
		</div>
	</div>
	<div class="subbnr-img"><img src="images/index/index_subbanner_01.png" alt=""></div>
</div>
<div class="subbnr">
	<div class="subbnr-img hidden-xs hidden-sm"><img src="images/index/index_subbanner_02.png" alt=""></div>
	<div class="subbnr-content">
		<div class="subbnr-content-wrap">
			<div class="sbbnr-content-top">Own Factory</div>
			<div class="sbbnr-content-bottom">自有生產工廠</div>
		</div>
	</div>
	<div class="subbnr-img hidden-lg hidden-md"><img src="images/index/index_subbanner_02.png" alt=""></div>
</div>
<div class="custom">
	<h3 class="index-title">
		<span class="index-title-content">
			優質客戶
			<span class="deco-line"></span>
		</span>
	</h3>
	<ul class="customer">
		<li> <img src="images/index/customer_CHIMEI.png" alt=""> </li>
		<li> <img src="images/index/customer_TSRC.png" alt=""> </li>
		<li> <img src="images/index/customer_TS.png" alt=""></li>
	</ul>
</div>
<div class="deco-line"></div> -->